{% extends 'index.html' %}
{% block content %}
<div class="container pt-5">
    <h1>Create Task</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}